@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@font-face {
  font-family: circular;
  src: url(./fonts/circularstd.ttf);
}

:root {
  /* fonts */
  --mainfont: circular;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  /* Colors */
  --first-color: #62ac43;
  --second-color: #313131;
  --second-color-second: #828282;
}

/* ===== Font size for large devices ===== */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* =====  BASE ===== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: var(--mainfont);
  max-width: 1350px;
  height: 3000px;
}
/* =======================    Reusable CSS classes     ======================== */
.container {
  max-width: 780px;
  margin: 0 2rem;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--body-color);
}

/* ===================    Header   ==================== */
.nav {
  height: 4rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  font-weight: var(--font-semi-bold);
  font-size: 2rem;
  width: 30%;
  color: var(--second-color);
  text-shadow: 5px 5px 4px rgb(0 0 0 / 25%);
}
.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.nav_list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav_link {
  font-size: 1.1rem;
  color: var(--second-color);
}
.nav_link:hover {
  color: var(--first-color);
}
.active-link {
  color: var(--first-color);
}

.sign_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  max-width: 15.75rem;
}
.sign_buttons span {
  font-size: 17px;
  line-height: 22px;
  color: var(--second-color);
}

.signup-box {
  width: 12.1vw;
  max-width: 165px;
  height: 58px;
  text-align: center;
  line-height: 58px;
  background: #fff;
  box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1),
    0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259),
    0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407),
    0px 20px 13px rgba(56, 56, 56, 0.05),
    0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593),
    0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
  border-radius: 10px;
  cursor: pointer;
}
.nav .sign_buttons .signup-box:hover {
  transform: scale(0.98);
}
.nav .signup-box span {
  font-size: 18px;
  line-height: 23px;
  color: var(--first-color);
}
.nav_btns {
  display: none;
}

/* ===========================        HOME       =========================== */
.sign-img {
  position: absolute;
  top: 0;
  left: 0;
}
.header-elements {
  position: relative;
  width: 92.3vw;
  max-width: 1260px;
  height: 684px;
  margin-top: 170px;
}
.header-elements .hero-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 640px;
  height: 659px;
  margin-left: 101px;
}
.header-elements .hero-desc p {
  display: block;
  width: 462px;
  font-weight: 500;
  font-size: 100px;
  line-height: 100%;
  color: var(--second-color);
}
.header-elements .hero-desc .heading span {
  text-transform: capitalize;
  color: var(--first-color);
}
.header-elements .hero-desc .desc {
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: var(--second-color-second);
  width: 566px;
  margin: 50px 0;
}
.header-elements .hero-desc .buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 346px;
  height: 51px;
}
.header-elements .hero-desc .buttons div {
  width: 150px;
  height: 51px;
  box-shadow: 0px 65.3611px 52.2889px rgba(68, 68, 68, 0.1),
    0px 42.3637px 30.6229px rgba(68, 68, 68, 0.0759259),
    0px 25.1761px 16.655px rgba(68, 68, 68, 0.0607407),
    0px 13.0722px 8.49694px rgba(68, 68, 68, 0.05),
    0px 5.32572px 4.26057px rgba(68, 68, 68, 0.0392593),
    0px 1.21039px 2.05766px rgba(68, 68, 68, 0.0240741);
  text-align: center;
}
.header-elements .hero-desc .buttons span {
  font-weight: 500;
  font-size: 17px;
  line-height: 51px;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  color: #fff;
}
.header-elements .hero-desc .buttons .explore {
  background-color: var(--first-color);
  border-radius: 5px 0 0 5px;
}

.header-elements .hero-desc .buttons .contact {
  background-color: var(--second-color);
  border-radius: 0 5px 5px 0;
}

.header-elements .hero-desc .buttons .explore::after {
  display: block;
  content: "";
  border-top: 51px solid var(--first-color);
  border-right: 25px solid transparent;
  position: absolute;
  top: 0;
  left: 150px;
}

.header-elements .hero-desc .buttons .contact::before {
  display: block;
  content: "";
  border-top: 51px solid transparent;
  border-right: 25px solid var(--second-color);
  position: absolute;
  right: 150px;
}
.header-elements .hero-desc .search-box {
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: 78px;
  background-color: #fff;
  box-shadow: 0px 65.3611px 52.2889px rgba(68, 68, 68, 0.1),
    0px 42.3637px 30.6229px rgba(68, 68, 68, 0.0759259),
    0px 25.1761px 16.655px rgba(68, 68, 68, 0.0607407),
    0px 13.0722px 8.49694px rgba(68, 68, 68, 0.05),
    0px 5.32572px 4.26057px rgba(68, 68, 68, 0.0392593),
    0px 1.21039px 2.05766px rgba(68, 68, 68, 0.0240741);
  border-radius: 5px;
}
.header-elements .hero-desc .search-box .search-input {
  width: calc(100% - 60px);
  height: 100%;
  padding: 0px 30px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 5px;
}
.header-elements .hero-desc .search-box .search-input:focus {
  border: none;
  outline: none;
}
.header-elements .hero-desc .search-box .search-button {
  display: inline-block;
  background-color: var(--first-color);
  position: absolute;
  height: 54px;
  width: 150px;
  margin: 12px;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 54px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1),
    0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259),
    0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407),
    0px 20px 13px rgba(56, 56, 56, 0.05),
    0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593),
    0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
}
.header-elements .hero-desc .search-box .scroll-line {
  position: absolute;
  top: 10px;
  left: -97px;
}
.header-elements .hero-desc .search-box .scroll-arrow {
  position: absolute;
  height: 62px;
  width: 62px;
  top: 50px;
  left: 4px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.header-elements .hero-desc .search-box .scroll-arrow i {
  position: absolute;
  top: 19px;
  left: 22px;
  color: var(--second-color-second);
  font-size: 27px;
}
.header-elements .hero-images {
  position: absolute;
  bottom: -46px;
  right: -70px;
  width: 65.9vw;
  max-width: 900px;
  height: 631px;
  z-index: -1;
}

.header-elements .hero-images .map {
  z-index: -1;
}
.header-elements .hero-images .card {
  position: absolute;
  width: 165px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 65.3611px 52.2889px rgba(68, 68, 68, 0.1),
    0px 42.3637px 30.6229px rgba(68, 68, 68, 0.0759259),
    0px 25.1761px 16.655px rgba(68, 68, 68, 0.0607407),
    0px 13.0722px 8.49694px rgba(68, 68, 68, 0.05),
    0px 5.32572px 4.26057px rgba(68, 68, 68, 0.0392593),
    0px 1.21039px 2.05766px rgba(68, 68, 68, 0.0240741);
  border-radius: 5px;
  padding: 5px;
}
.header-elements .hero-images .card img {
  width: 100%;
}

.header-elements .hero-images .card .heading {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 11px;
}
.header-elements .hero-images .card .heading h3 {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  color: var(--second-color);
}
.header-elements .hero-images .card .heading .stars {
  display: flex;
  width: 34px;
  height: 6px;
}
.header-elements .hero-images .card p {
  font-weight: 450;
  font-size: 8px;
  line-height: 100%;
  color: var(--second-color-second);
  margin-bottom: 13px;
}
.header-elements .hero-images .card span {
  display: block;
  color: var(--first-color);
  font-weight: 450;
  font-size: 8px;
}
.header-elements .hero-images .card span::after {
  content: "";
  display: block;
  height: 0.9px;
  width: 37px;
  background-color: var(--first-color);
}
.header-elements .hero-images .one {
  top: -92px;
  left: 264px;
}
.header-elements .hero-images .two {
  top: 0px;
  right: 84px;
}
.header-elements .hero-images .three {
  bottom: 93px;
  right: 260px;
}

/* ==========================        Main       ============================= */

/* ========================LOGOS=========================== */

.logos-container {
  width: 100%;
  height: 200px;
  margin: 100px 0;
  padding: 0 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
}
.logos-container span:nth-child(1) {
  font-family: "Comfortaa", cursive;
  font-size: 1.5em;
  letter-spacing: -1px;
  text-transform: capitalize;
}
.logos-container span:nth-child(2) {
  font-family: "Smooch", cursive;
  font-weight: 500;
  font-size: 3em;
}
.logos-container span:nth-child(3) {
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  font-size: 2em;
  text-transform: capitalize;
}

.logos-container span:nth-child(4) {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.7em;
  letter-spacing: -3px;
  text-transform: capitalize;
}
.logos-container span:nth-child(5) {
  font-family: "Comfortaa", cursive;
  font-size: 1.5em;
  letter-spacing: -1px;
  text-transform: capitalize;
}

/* ========================   GALLERIES  =========================== */
.gallery-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.gallery-container .sign-img {
  position: absolute;
  top: -90px;
  left: 50%;
  height: 362px;
  transform: translateX(-50%);
}
.gallery-container .heading {
  position: relative;
  font-weight: 500;
  font-size: 50px;
  color: var(--second-color);
  margin: 5.6rem;
}
.gallery-container h2 span {
  color: var(--first-color);
}
.gallery-container h2::after {
  content: "";
  width: 163px;
  height: 4px;
  position: absolute;
  top: 60px;
  right: 1px;
  background-color: var(--second-color);
}
.gallery-container .wrapper::before,
.gallery-container .wrapper::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
}
.gallery-container .wrapper::before {
  top: -50px;
  right: -50px;
  border-right: 2px solid var(--second-color-second);
  border-top: 2px solid var(--second-color-second);
}
.gallery-container .wrapper::after {
  left: -50px;
  bottom: -50px;
  border-left: 2px solid var(--second-color-second);
  border-bottom: 2px solid var(--second-color-second);
}
.gallery-container .wrapper {
  position: relative;
  display: grid;
  gap: 1.4rem;
  grid-template-areas:
    "img1 img2 img4"
    "img1 img3 img4"
    "img1 img3 img5";
}

.gallery-container img:nth-child(1) {
  grid-area: img1;
}
.gallery-container img:nth-child(2) {
  grid-area: img2;
}
.gallery-container img:nth-child(3) {
  grid-area: img3;
}
.gallery-container img:nth-child(4) {
  grid-area: img4;
}

.gallery-container img:nth-child(5) {
  grid-area: img5;
}
